<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/AlgoDynamicProgramming/src/edu/mum/assignment11b/lcs/LCSMemoized.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="edu.mum.assignment11b.lcs.LCSMemoized"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="AlgoDynamicProgramming"/>
</launchConfiguration>
